.menu {
  display: grid;
  font-size: var(--font-size-body);
  gap: var(--column-gap);
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  list-style: none;
  padding: 0;

  @media (min-width: $breakpoint-tablet) {
    --grid-columns: 2;
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    --grid-columns: 4;
  }

  .title {
    font-size: var(--font-size-body);
  }

  .link {
    color: var(--color-text);
    text-decoration: none;
  }

  &-children {
    list-style: disc;
    padding-inline-start: 1.5rem;

    .item + .item {
      margin-block-start: 0.66em;
    }
  }

  &-socialPlatforms {
    list-style: none;
    padding: 0;

    .item + .item {
      margin-block-start: 20px;
    }

    .link {
      align-items: center;
      display: flex;
      gap: 0.75rem;
    }

    svg {
      block-size: 1.25rem;
      inline-size: 1.25rem;
    }
  }
}
