flynt-component[name='HeroSlider'] {
  --color-text: var(--color-background);
  --slider-pagination-height: 30px;
  --slider-button-size: 40px;
  --slider-height: 420px;
  block-size: var(--slider-height);
  display: flex;
  inline-size: 100%;
  overflow: hidden;

  @media (min-width: $breakpoint-tablet) {
    --slider-height: 640px;
  }

  .slider:not(.swiper-initialized) {
    .swiper-wrapper .swiper-slide:not(:first-child) {
      display: none;
    }
  }

  .slider {
    display: flex;
    inline-size: 100%;

    &-button {
      align-items: center;
      block-size: var(--slider-button-size);
      color: var(--color-background);
      cursor: pointer;
      display: none;
      inline-size: var(--slider-button-size);
      inset-block-start: 50%;
      justify-content: center;
      position: absolute;
      translate: 0 -50%;
      z-index: 10;

      &::before {
        background-color: var(--color-accent);
        block-size: 100%;
        border-radius: 50%;
        content: '';
        inline-size: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        opacity: 1;
        position: absolute;
        transition: opacity 0.2s ease;
        will-change: opacity;
      }

      @media (min-width: $breakpoint-tablet) {
        display: flex;
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &--prev {
        inset-inline-start: 10px;

        &::after {
          block-size: 0.75em;
          border-block-start: 2px solid currentColor;
          border-inline-start: 2px solid currentColor;
          content: '';
          inline-size: 0.75em;
          margin-inline-start: calc(0.25em + 2px);
          rotate: -45deg;
        }

        @media (min-width: $breakpoint-desktop) {
          inset-inline-start: var(--slider-button-size);
        }
      }

      &--next {
        inset-inline-end: 10px;

        &::after {
          block-size: 0.75em;
          border-block-start: 2px solid currentColor;
          border-inline-end: 2px solid currentColor;
          content: '';
          inline-size: 0.75em;
          margin-inline-end: calc(0.25em - 2px);
          rotate: 45deg;
        }

        @media (min-width: $breakpoint-desktop) {
          inset-inline-end: var(--slider-button-size);
        }
      }
    }

    &-pagination {
      align-items: center;
      block-size: var(--slider-pagination-height);
      display: flex;
      inset-block-end: 0;
      inset-inline: 0;
      justify-content: center;
      margin-block-start: 0;
      position: absolute;
      text-align: center;
      z-index: 1;

      @media (min-width: $breakpoint-tablet) {
        display: none;
      }

      .swiper-pagination-bullet {
        background-color: var(--color-background);
        block-size: 6px;
        inline-size: 6px;
        opacity: 0.2;
        transition: inline-size 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s ease;
        will-change: inline-size, opacity;

        &-active {
          border-radius: 4px;
          inline-size: 20px;
          opacity: 1;
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }
  }

  .container {
    block-size: var(--slider-height);
    display: flex;

    &::before {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
      block-size: 100%;
      content: '';
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
    }
  }

  .content {
    color: var(--color-text);
    margin-block-start: auto;
    margin-inline-start: 0;
    padding-block: var(--container-spacing) calc(var(--container-spacing) + var(--slider-pagination-height));
    padding-inline: var(--container-spacing);
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      padding-block: var(--container-spacing) calc(var(--container-spacing) + 30px);
      padding-inline: calc(var(--container-spacing) + var(--slider-button-size));
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      padding-block-end: var(--container-spacing);
    }
  }

  @import 'Partials/picture';
}
