flynt-component[name='SliderImagesCentered'] {
  overflow: hidden;

  .slider {
    --max-inline-size: 375px;
    max-inline-size: var(--max-inline-size);
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      --max-inline-size: 580px;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      --max-inline-size: 870px;
    }

    &:not(.swiper-initialized) {
      .swiper-wrapper .swiper-slide:not(:first-child) {
        display: none;
      }
    }

    .swiper-wrapper {
      display: flex;
    }

    &-item {
      margin-inline: auto;
      max-inline-size: var(--max-inline-size);

      .figure {
        backface-visibility: hidden;
        margin: 0;
        overflow: hidden;
        position: relative;
        scale: 0.9;
        transition: scale 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        will-change: scale;

        &::before {
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
          block-size: 100%;
          border-radius: var(--box-border-radius);
          content: '';
          inline-size: 100%;
          opacity: 1;
          position: absolute;
          transition: opacity 0.3s ease;
          will-change: opacity;
          z-index: 2;
        }

        &-caption {
          background-color: var(--color-text);
          border-end-end-radius: var(--box-border-radius);
          color: var(--color-background);
          display: inline-block;
          inset-block-end: 0;
          inset-inline-end: 0;
          max-inline-size: 450px;
          padding-block: 0.25rem;
          padding-inline: 0.75rem;
          position: absolute;
          z-index: 1;
        }
      }

      &.swiper-slide-active {
        .figure {
          scale: 1;

          &::before {
            opacity: 0;
          }
        }
      }
    }

    &-button {
      --button-size: 48px;
      --button-inset: calc(-1 * ((100vw - 100%) / 2) + var(--container-spacing));
      align-items: center;
      block-size: var(--button-size);
      color: var(--color-background);
      cursor: pointer;
      display: none;
      inline-size: 48px;
      inset-block-start: 50%;
      justify-content: center;
      position: absolute;
      translate: 0 calc(-50% - (var(--button-size) / 2) + 2.5px);
      z-index: 10;

      &::before {
        background-color: var(--color-accent);
        block-size: 100%;
        border-radius: 50%;
        content: '';
        inline-size: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
        transition: opacity 0.2s ease;
      }

      @media (min-width: $breakpoint-tablet) {
        display: flex;
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &--prev {
        inset-inline-start: var(--button-inset);

        &::after {
          block-size: 0.75em;
          border-block-start: 2px solid currentColor;
          border-inline-start: 2px solid currentColor;
          content: '';
          inline-size: 0.75em;
          margin-inline-start: calc(0.25em + 2px);
          rotate: -45deg;
        }
      }

      &--next {
        inset-inline-end: var(--button-inset);

        &::after {
          block-size: 0.75em;
          border-block-start: 2px solid currentColor;
          border-inline-end: 2px solid currentColor;
          content: '';
          inline-size: 0.75em;
          margin-inline-end: calc(0.25em - 2px);
          rotate: 45deg;
        }
      }
    }

    &-pagination {
      margin-block-start: 1rem;
      min-block-size: 27px;
      text-align: center;

      .swiper-pagination-bullet {
        background-color: var(--color-accent);
        block-size: 8px;
        inline-size: 8px;
        opacity: 0.2;
        transition: inline-size 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s ease;

        &-active {
          block-size: 8px;
          border-radius: 4px;
          inline-size: 8px;
          inline-size: 20px;
          opacity: 1;
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }
  }
}
