flynt-component[name='HeroImageText'] {
  .picture {
    &-image {
      aspect-ratio: 4 / 3;
      block-size: 100%;
      inline-size: 100%;
      min-block-size: 400px;
      object-fit: cover;

      @media (min-width: $breakpoint-tablet) {
        aspect-ratio: 32 / 9;
      }
    }
  }

  .content {
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    block-size: 100%;
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    justify-content: center;
    padding: var(--container-spacing);
    position: absolute;

    h1, h2, h3, h4, h5, h6, 
    .h1, .h2, .h3, .h4, .h5, .h6 {
      color: inherit;
    }

    > * {
      max-inline-size: var(--content-max-width);
    }
  }
}
